degrees/__pycache__
tictactoe/__pycache__
knights/__pycache__
minesweeper/__pycache__
pagerank/__pycache__
heredity/__pycache__
crossword/__pycache__
shopping/__pycache__
nim/__pycache__
traffic/__pycache__
parser/__pycache__
questions/__pycache__
